* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #0a0a0a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.hero {
  max-width: 600px;
  padding: 2rem;
}

.announcement {
  background: rgba(255, 255, 255, 0.1);
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

.announcement-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.announcement-link:hover {
  opacity: 0.8;
}

.announcement-text {
  font-weight: bold;
}

.announcement-button {
  margin-left: 8px;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 10px;
  cursor: pointer;
  /* margin-bottom: 20px; */
}

.hero-content {
  text-align: center;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.cta-button {
  display: inline-flex;
  align-items: center;
  background: linear-gradient(90deg, #6366f1, #9333ea);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}

.cta-button:hover {
  background: linear-gradient(90deg, #4f46e5, #7e22ce);
}

@media (max-width: 640px) {
  .hero {
    padding: 1rem;
  }

  .announcement-link {
    font-size: 0.75rem;
  }

  .hero-content {
    padding: 0 1rem;
  }
}
